/*  Variables.
    ========================================================================= */

/*  Colors.
    ------------------------------------------------------------------------- */

// Descriptive colors
$color-blue       : #009fe3;
$color-grey-dark  : #333233;
$color-grey-median: #414042;
$color-light      : #ffffff;
$color-dark       : #000000;

// Semantique colors
$color-primary   : $color-blue;
$color-background: $color-grey-dark;

$color-foreground: $color-light;
$color-font      : $color-grey-median;

$color-foreground-accent: $color-primary;
$color-font-accent      : $color-light;

$color-accent: $color-primary;

$color-alert  : red;
$color-warning: yellow;
$color-info   : skyblue;

/*  Font.
    ------------------------------------------------------------------------- */

$font-path: "../fonts/";
$font-formats: ("eot", "woff2", "woff", "svg");

@font-face {
  font-family: 'icomoon';
  src:  url('#{$font-path}/icomoon.eot?iv29cg');
  src:  url('#{$font-path}/icomoon.eot?iv29cg#iefix') format('embedded-opentype'),
    url('#{$font-path}/icomoon.ttf?iv29cg') format('truetype'),
    url('#{$font-path}/icomoon.woff?iv29cg') format('woff'),
    url('#{$font-path}/icomoon.svg?iv29cg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Font-weights

$font-weights: (
    "thin"       : 100,
    "extra-light": 200,
    "light"      : 300,
    "regular"    : 400,
    "medium"     : 500,
    "semi-bold"  : 600,
    "bold"       : 700,
    "extra-bold" : 800,
    "black"      : 900,
);

/*  Animations.
    ------------------------------------------------------------------------- */

$easings: (
    "ease"         : ease,
    "ease-in"      : ease-in,
    "ease-out"     : ease-out,
    "ease-in-out"  : ease-in-out,
    "linear"       : linear,
    "step-start"   : step-start,
    "step-end"     : step-end,
    "easeInOutBack": cubic-bezier(0.68, -0.55, 0.265, 1.55),
)
$animation-duration: .3ms;
$animation-easing  : mapget($easings, "ease-in-out");

$animations: (
    "duration": $animation-duration,
    "easing"  : $animation-easing,
);
